// custom.scss

$primary-color: #00aeff;
$secondary-color: #333;
$highlight-color: #252525;

.main-container {
    background-color: $secondary-color;
}

.navbar {
    background-color: $primary-color;
}

.navbar-brand {
    font-size: 2em;
}

.offcanvas-header {
    background-color: $primary-color;
}

.offcanvas-body {
    background-color: $secondary-color;
}

.btn {
    background-color: $highlight-color;
    border: none;
}
