/* .main-container {
  background-color: #333;
}

.offcanvas {
  background-color: #333 !important;
}

.offcanvas-header {
  color: White !important;
}

.navbar-brand {
  color: White !important;
}

.nav-link {
  color: White !important;
  padding: 10px !important;
}

.card {
  background-color: #acacac !important;
  box-shadow: 2px 2px #1f1f1f;
} */
